{{define "title"}}Payment Reminder{{end}}
{{define "index"}}
    <!-- First row: 1 image -->
    <div class="row">
      <div class="image-holder">
        <img id="image1" src="/static/assets/img/Payment-Reminder.png" alt="Image 1">
      </div>
    </div>
    <div class="row text-row">
      <p>
        This is a gentle reminder about your overdue bill. 
        Kindly send payments to 09686980551 gcash or maya( QR Codes below). 
        You may scan or download the QR code above. Thank you for your patronage.
      </p>
    </div>
    <div class="row">
      <form class="form" method="POST">
        <button type="submit">Pay Later</button>
      </form>
    </div>
    <!-- Second row: 2 images -->
    <div class="row">
      <div class="image-holder">
        <img id="image2" src="/static/assets/img/gcash.jpg" alt="Image 2">
      </div>
      <div class="image-holder">
        <img id="image3" src="/static/assets/img/maya.jpg" alt="Image 3">
      </div>
    </div>

{{end}}
