{{define "title"}}A templated page{{end}}
{{define "index"}}
      <div class="px-3">
        <div class="row min-vh-100 flex-center p-5">
          <div class="col-12 col-xl-10 col-xxl-8">
            <div class="row justify-content-center g-5">
              <div class="col-12 col-lg-6 text-center order-lg-1"><img class="img-fluid w-lg-100 d-light-none" src="static/assets/img/myimages/Payment-Reminder.png" alt="" width="400" /><img class="img-fluid w-md-50 w-lg-100 d-dark-none" src="static/assets/img/myimages/Payment-Reminder.png" alt="" width="540" /></div>
              <div class="col-12 col-lg-6 text-center text-lg-start"><img class="img-fluid mb-6 w-50 w-lg-75 d-dark-none" src="" alt="" /><img class="img-fluid mb-6 w-50 w-lg-75 d-light-none" src="" alt="" />
                <h2 class="text-body-secondary fw-bolder mb-3">CCR Internet</h2>
                <p class="text-body mb-5">Your account is overdue. Please pay your bill.</p><a class="btn btn-lg btn-primary" href="https://ccrinternetservices.com/billing/{{.Ip}}">Pay Now</a> <br/><br/> <p> or </p>
                <a class="btn btn-lg btn-warning" href="#">Pay Later</a> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      </script>
{{end}}
