{{define "title"}}Wait page{{end}}
{{define "wait"}}
    <div class="row text-row">
      <p>
        Please wait few minutes for reactivation. You may close this window. Thank you!
      </p>
    </div>
{{end}}
